
{{> message}}


<div style="margin-left: 20px; margin-right: 20px;"> 
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
        <p class="signup">
            <a href="/forgot-password">Forgot Password?</a>
          </p>
    </form>
        
</div>