<!-- Logout Page (logout.hbs) -->
{{> message}}
<h1 style="color: green; text-align: center; margin-top: 30px;">Thanks for visiting!</h1>

<!-- Button to Log Back In -->
<div style="text-align: center; margin-top: 20px;">
  <a href="/login" class="btn" style="background-color: black; color: white;">Log Back In</a>
</div>

