{{> message}}


<div>
    <form action="/register" method="POST" style="margin-left: 20px; margin-right: 20px;">
        <h1>Register</h1>
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Choose a unique username.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Enter your email address.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>Already have an account? <a href="/login">Login</a></p>
    </form>
        
</div>